.cards
  --spacing: 30px
  --columns: 4
  display: flex
  flex-wrap: wrap
  margin-left: calc(-1 * var(--spacing))
  .card
    border-radius: 20px
    overflow: hidden
    background-color: white
    width: calc(calc(100% / var(--columns)) - var(--spacing))
    margin: calc(var(--spacing) + 10px) 0  0 var(--spacing)
    display: flex
    flex-direction: column
    .card-image
      height: 200px
      width: 100%
      object-fit: cover
    .card-content
      display: flex
      flex-direction: column
      flex: 1
      .card-top
        padding: 25px
        display: flex
        flex: 1
        flex-direction: column
        .card-title
          font-width: 500
          margin-bottom: 25px
        .card-user
          display: flex
          align-items: center
          margin-top: auto
          .card-user-avatar
            width: 40px
            height: 40px
            border-radius: 100rem
            object-fit: cover
            flex-shrink: 0
          .card-user-info
            padding-left: 20px
            flex: 1
          .card-user-top
            display: flex
            align-items: center
            margin-bottom: 2px
            ion-icon
              color: black
              font-size: 11px
            .card-user-name
              font-weight: 500
              font-size: 14px
              line-height: 1
          .card-user-game
            color: #999
            font-weight: 300
            font-size: 13px
      .card-bottom
        padding: 25px
        border-top: 1px solid #eee
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: auto
        flex-shrink: 0
        .card-live
          color: #eeeeee
          display: flex
          justify-content: space-between
          align-items: center
          padding: 5px 10px
          flex: 0
          background-color: #ff6651
          border-radius: 10px
          font-size: 14px
        .card-watching
          font-size: 13px
          color: #999999
          font-weight: 300
  @include mediaMaxWidth(900px)
    --spacing: 5px
    --columns: 1

