body {
  padding: 20px;
  background-color: gray;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.cards {
  --spacing: 30px;
  --columns: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
}
.cards .card {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  width: calc(100% / var(--columns) - var(--spacing));
  margin: calc(var(--spacing) + 10px) 0 0 var(--spacing);
  display: flex;
  flex-direction: column;
}
.cards .card .card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.cards .card .card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.cards .card .card-content .card-top {
  padding: 25px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.cards .card .card-content .card-top .card-title {
  font-width: 500;
  margin-bottom: 25px;
}
.cards .card .card-content .card-top .card-user {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.cards .card .card-content .card-top .card-user .card-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}
.cards .card .card-content .card-top .card-user .card-user-info {
  padding-left: 20px;
  flex: 1;
}
.cards .card .card-content .card-top .card-user .card-user-top {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.cards .card .card-content .card-top .card-user .card-user-top ion-icon {
  color: black;
  font-size: 11px;
}
.cards .card .card-content .card-top .card-user .card-user-top .card-user-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
.cards .card .card-content .card-top .card-user .card-user-game {
  color: #999;
  font-weight: 300;
  font-size: 13px;
}
.cards .card .card-content .card-bottom {
  padding: 25px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
}
.cards .card .card-content .card-bottom .card-live {
  color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  flex: 0;
  background-color: #ff6651;
  border-radius: 10px;
  font-size: 14px;
}
.cards .card .card-content .card-bottom .card-watching {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}
@media screen and (max-width: 900px) {
  .cards {
    --spacing: 5px;
    --columns: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
